body {
  font-family: "Changa One", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 600px 15px 60px;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
  margin-right: 300px;
  margin-bottom: 20px;
}

#back {
    width: 300px;
}

#back a {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 32px;
  text-decoration: none;
}

#skinlution {
  width: 900px;
  text-align: center;
  padding-left: 190px;
}

#skinlution h1 a {
  font-size: 60px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
