/* styles.css */
 body {
font-family: Arial, sans-serif;
background-color: #f0f2f5;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.chat-container {
display: flex;
flex-direction: column;
height: 90vh;
width: 90vw;
max-width: 600px;
background-color: #ffffff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 로고와 텍스트를 양 옆으로 분산 정렬 */
    padding: 20px;
    color: white;
    color: black;
}

.logo {
    margin: auto;
    height: 50px;
}

h1 {
    padding-right: 250px; /* 로고를 오른쪽으로 이동하여 가운데 정렬 */
    font-size: 20px;
    margin: 0; /* 텍스트의 기본 마진 제거 */
}

.messages {
flex: 1;
padding: 20px;
overflow-y: auto;
background-color: #f9f9f9;
}

.message {
padding: 10px 15px;
margin: 10px 0;
border-radius: 20px;
max-width: 70%;
word-wrap: break-word;
}

.message.user {
align-self: flex-end;
background-color: #a0b6dc;
margin-left: auto; /* 사용자 메시지를 오른쪽으로 정렬 */

}

.message.bot {
align-self: flex-start;
background-color: #ddaeae;
}

.input-container {
display: flex;
padding: 10px;
border-top: 1px solid #ccc;
}

input {
flex: 1;
padding: 10px;
border: 1px solid #ccc;
border-radius: 20px;
border-width: 2px;
}

input[type="text"]:focus {
    border-color: #428dde; /* 포커스를 받을 때의 테두리 색을 파란색(#007bff)으로 설정 */
    outline: none;
    border-width: 4px;
    border-radius: 20px;
}

button {
margin-left: 10px;
padding: 10px 20px;
border: none;
background-color: #ffffff;
color: white;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #0056b3;
}

#sendButton {
    background-color: #ccc; /* 기본 버튼 색상 */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-size: contain; /* 이미지 크기 조정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: center; /* 이미지 위치 가운데 정렬 */
}

#sendButton:hover, #sendButton:focus, #input:focus + #sendButton {
    background-color: rgba(255, 255, 255, 1); /* 입력 창에 입력이 있거나 버튼에 마우스를 올렸을 때의 배경 색상과 투명도 조절 */
}
