<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
    <title>SkinLution</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="chat-container">
      <header>
        <img src="/static/image/logo.png" alt="Logo" class="logo" />
        <!-- <h1>피부 상담</h1> -->
      </header>
      <div class="messages" id="messages"></div>
      <div class="input-container">
        <input
          type="text"
          id="input"
          placeholder="피부 관련 질문을 입력해주세요."
        />
        <!-- <button id="sendButton">Send</button> -->
        <button
          id="sendButton"
          style="padding: 0; border: none; background: none"
        >
          <img
            id = "sendIcon"
            src="/static/image/gray_send_icon.png"
            alt="Send"
            style="width: 35px; height: 35px"
          />
        </button>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
